body {
    background-color: #fff;
    color: #533747;
    font-size: 20px;
}

header {
    display: flex;
    text-align: center;
    background-color: #ffffff;
    margin:0;
    padding: 50px;
    flex-direction: column;
}


#title {
    color: #050505;
    font-size: 72px;
}


nav {
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
}

.hidden {
    border-bottom: 2px solid white;
}

h1 {
    margin: 0 auto;
    padding: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }

ul {
    display: flex;
    position: center;
    list-style-type: none;
}

li {
    padding: 7px;
}

#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.text-box {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 8px;
    width: 40%;
    font-size: 30px;
}

.home-img {
    width: 40%;
    padding-top: 10px;
}

img {
    width: 40%;
    height: 40%;
    transition: opacity 300ms ease-in-out 1s;
}

.hide {
    display: none;
}

#buttonDiv {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

#btn {
    width: 100px;
}