

ul {
    display: flex;
    position: center;
    list-style-type:disc;

}

li {
    padding: 7px;
    color: gray;
}


img {
    width: 30%;
    height: 30%;
    transition: opacity 300ms ease-in-out 1s;
    padding: 10px;
}

#title {
    color: #050505;
    font-size: 72px;
    padding: 50px;
    text-align: center;
}

.hidden {
    border-bottom: 2px solid white;
}


#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;     
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.text-box {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 8px;
    width: 40%;
    font-size: 30px;
}

.hide {
    width: 10%;
    height: 10%;
    /*display: none;*/
}

#buttonDiv {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px;
}

#btn {
    width: 100px;
}


.selectedItem::marker {
    color: black;
  }
